<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
  		<h1>s</h1>
    	<div align='center'  height='200px' >
      <div>
        <%= link_to "Simular", "/simulacao_produtos", :class =>'botao_home',  :style=>'color:#FFFFFF;', :height => '100px'%>
        <%= link_to "Historico", "/simulacao_produtos", :class =>'botao_home',:style=>'color:#FFFFFF; '  %>
        </div>

        <div>
          <%= link_to "Simular", "/simulacao_produtos", :class =>'botao_home', :style=>'color:#FFFFFF; '  %>
      <%= link_to "Historico", "/simulacao_produtos", :class =>'botao_home', :style=>'color:#FFFFFF; '  %>
        </div>
    	</div>

  </body>
  </html>


