<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
  		<h1></h1>
    	<div align='center'>
<p align='center'>
        <%= link_to "Simular", "/simulacao_produtos", :class =>'btn btn-extra-large btn-success botao_redondo', :style=>'color:#FFFFFF; background:#399e02; top:120px'%>
        <%= link_to "Historico", "/simulacao_produtos", :class =>'botao_home',:style=>'color:#FFFFFF; top:120px' %>
<p/><p align ='center'>

          <%= link_to "Simular", "/simulacao_produtos", :class =>'botao_home', :style=>'color:#FFFFFF; top:180px '  %>
      <%= link_to "Historico", "/simulacao_produtos", :class =>'botao_home', :style=>'color:#FFFFFF; top:180px'  %><p/>

    	</div>

  </body>
  </html>


