<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
  		<h1></h1>
    	<div align='center'>
  
    <p align ='center'>

      <%= link_to "Simular", "/simulacao_produtos", :class =>'botao_home', :style=>'color:#FFFFFF; top:180px '  %>
      <%= link_to "Como Calcular?", "/tutorial", :class =>'botao_home', :style=>'color:#FFFFFF; top:180px'  %>
      <p/>

    	</div>

  </body>
  </html>


