.botao_home{
font:normal 24px "Courier New", Courier, monospace;
font-style:normal;
color:#FFFFFF;
background:#3a5aa5;
border:3px outset #ffffff;
text-shadow:0px -1px 3px #000000;
box-shadow:2px 2px 5px #000000;
-moz-box-shadow:2px 2px 5px #000000;
-webkit-box-shadow:2px 2px 5px #000000;
border-radius:25px 25px 25px 25px;
-moz-border-radius:25px 25px 25px 25px;
-webkit-border-radius:25px 25px 25px 25px;
width:94px;
padding:17px 40px;
cursor:pointer;
margin:0 auto;
position: relative;
}
.botao_home:active{
cursor:pointer;
position:relative;
top:2px;
}


.div_home {
 
 font:normal 24px "Courier New", Courier, monospace;
font-style:normal;
color:#FFFFFF;
background:#3a5aa5;
border:3px outset #ffffff;
text-shadow:0px -1px 3px #000000;
box-shadow:2px 2px 5px #000000;
-moz-box-shadow:2px 2px 5px #000000;
-webkit-box-shadow:2px 2px 5px #000000;
border-radius:25px 25px 25px 25px;
-moz-border-radius:25px 25px 25px 25px;
-webkit-border-radius:25px 25px 25px 25px;
width:94px;
padding:17px 40px;
cursor:pointer;
margin:0 auto;

 display: table-cell;
 vertical-align: middle;

 
height:'100%';

 }
