.text-field2{
  width: 15px;
}

.botao_home{
font:bold 24px Tahoma, Geneva, sans-serif;
font-style:normal;
color:#ffffff;
background:#399e02;
border:0px solid #ffffff;
text-shadow:0px -1px 1px #222222;
box-shadow:2px 2px 5px #000000;
-moz-box-shadow:2px 2px 5px #000000;
-webkit-box-shadow:2px 2px 5px #000000;
border-radius:85px 18px 40px 8px;
-moz-border-radius:85px 18px 40px 8px;
-webkit-border-radius:85px 18px 40px 8px;
width:72px;
padding:20px 43px;
cursor:pointer;
margin:0 auto;
position: relative;
}
.botao_home:active{
cursor:pointer;
position:relative;
top:2px;
}
.botao_redondo{
	border-radius: 70%;

	position:relative;
}
.btn-extra-large{
	width:72px;
}


.div_home {

 display: table-cell;
 vertical-align: middle;

 
height:'100%';

 }
